# Java
*.class
*.jar
*.war
*.ear
*.iml
*.log
target/
bin/

# Python
__pychache__/
*.pyc
*.pyo
*.pyd
venv/

# Docker
.docker/
*.log
docker-compose.override.yml

.env
.tar.gz

# JET
.idea/
*.iml
*.iws
out/
gen/

src/main/generated
generated/